<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WSP_EduardoMoreno"
			 connectionString="Data Source=DESKTOP-OAJ1FB6\SQLEXPRESS;Initial Catalog=DB_SkillsMedieval_WSN;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>